In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#import seaborn as sns
import re
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OrdinalEncoder
from sklearn.neighbors import KNeighborsClassifier
from sklearn import linear_model
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.model_selection import GridSearchCV
from new_distance import *
%load_ext autoreload
%autoreload 2

In [3]:
use_db = pd.read_csv("use_db_sabato14.csv")

In [5]:
use_db = use_db[use_db.obs_duration_mean.isin([24, 48, 72, 96])]

In [6]:
use_db = use_db.groupby(by=["test_cas", "species", "conc1_type", "exposure_type", "obs_duration_mean"]).agg("median").reset_index()

In [32]:
use_db.columns

Index(['test_cas', 'species', 'conc1_type', 'exposure_type',
       'obs_duration_mean', 'conc1_mean', 'atom_number', 'alone_atom_number',
       'tripleBond', 'doubleBond', 'bonds_number', 'ring_numer', 'Mol',
       'MorganDensity', 'LogP'],
      dtype='object')

In [7]:
use_db

,test_cas,species,conc1_type,exposure_type,obs_duration_mean,conc1_mean,atom_number,alone_atom_number,tripleBond,doubleBond,bonds_number,ring_numer,Mol,MorganDensity,LogP
0,100-00-5,rerio,F,F,48.0,15.0,0.317908,2,0,1,0.488106,1.0,0.082505,1.30,2.2482
1,100-00-5,rerio,F,F,96.0,15.0,0.317908,2,0,1,0.488106,1.0,0.082505,1.30,2.2482
2,100-01-6,idus,F,AQUA,48.0,35.0,0.317908,2,0,1,0.488106,1.0,0.072092,1.30,1.1770
3,100-01-6,latipes,A,S,24.0,68.0,0.317908,2,0,1,0.488106,1.0,0.072092,1.30,1.1770
4,100-01-6,latipes,A,S,48.0,50.0,0.317908,2,0,1,0.488106,1.0,0.072092,1.30,1.1770
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23327,999-81-5,mykiss,A,S,96.0,550.0,0.434012,2,0,0,0.396102,0.0,0.082780,1.25,-2.0646
23328,999-81-5,promelas,A,S,24.0,100.0,0.434012,2,0,0,0.396102,0.0,0.082780,1.25,-2.0646
23329,999-81-5,promelas,A,S,96.0,100.0,0.434012,2,0,0,0.396102,0.0,0.082780,1.25,-2.0646
23330,999-81-5,punctatus,A,S,24.0,100.0,0.434012,2,0,0,0.396102,0.0,0.082780,1.25,-2.0646
23331,999-81-5,punctatus,A,S,96.0,100.0,0.434012,2,0,0,0.396102,0.0,0.082780,1.25,-2.0646

In [18]:
y_real = use_db.conc1_mean.values
y_real = np.where(y_real > 1, 1, 0)

In [19]:
y_naive = np.random.random_sample(len(y_real))

In [20]:
y_naive_acc = np.rint(y_naive)

In [21]:
from math import sqrt
from sklearn.metrics import mean_squared_error
sqrt(mean_squared_error(y_real, y_naive))

0.5758973918063206

In [22]:
accuracy_score(y_real, y_naive_acc)

0.5048431338933653

In [23]:
def scores_cat(x):
    if (x < 10**-1):
        return 5
    # elif ((x>=10**-2) and (x<10**-1)):
    #     return 6
    elif ((x>=10**-1) and (x<10**0)):
        return 4
    elif ((x>=10**0) and (x<10**1)):
        return 3
    elif ((x>=10**1) and (x<10**2)):
        return 2
    # elif ((x>=10**2) and (x<10**3)):
    #     return 2
    else:
        return 1

In [25]:
y_real = use_db.conc1_mean.values
y_real = pd.Series(y_real).apply(lambda x: scores_cat(x)).values

In [26]:
y_naive = np.random.random_sample(len(y_real))*(5-1)+1

In [27]:
sqrt(mean_squared_error(y_real, y_naive))

1.7597669773867186

In [28]:
y_naive_acc = np.rint(y_naive)

In [29]:
accuracy_score(y_real, y_naive_acc)

0.20602605863192183