In [20]:
import pandas as pd
import numpy as np

In [31]:
results = pd.read_csv('data/ecotox_ascii_09_12_2019/results.txt',sep='\|', engine='python')
results.head()

,result_id,test_id,sample_size_mean_op,sample_size_mean,sample_size_min_op,sample_size_min,sample_size_max_op,sample_size_max,sample_size_unit,sample_size_comments,...,dry_wet_pct_min,dry_wet_pct_max_op,dry_wet_pct_max,dry_wet_pct_comments,steady_state,additional_comments,companion_tag,created_date,modified_date,old_terretox_result_number
0,61358,1108761,NaN,NC,NaN,NC,NaN,NC,NC,NaN,...,NC,NaN,NC,NaN,NC,,NaN,01/31/1985,02/21/1995,NaN
1,136246,1165989,NaN,NC,NaN,NC,NaN,NC,NC,NaN,...,NC,NaN,NC,NaN,NC,,NaN,04/19/1996,NaN,NaN
2,223703,1097736,NaN,NC,NaN,NC,NaN,NC,NC,NaN,...,NC,NaN,NC,NaN,NC,,NaN,10/02/2003,NaN,NaN
3,151106,1187635,NaN,NC,NaN,NC,NaN,NC,NC,NaN,...,NC,NaN,NC,NaN,NC,,NaN,10/10/1997,NaN,NaN
4,53559,1012894,NaN,NC,NaN,NC,NaN,NC,NC,NaN,...,NC,NaN,NC,NaN,NC,,NaN,11/21/1995,NaN,NaN

In [39]:
results = results[(results.endpoint == "LC50") | (results.endpoint == "EC50")]

In [38]:
test = pd.read_csv('data/ecotox_ascii_09_12_2019/tests.txt',sep='\|', engine='python')
test.head()

,test_id,reference_number,test_cas,test_grade,test_grade_comments,test_formulation,test_formulation_comments,test_radiolabel,test_radiolabel_comments,test_purity_mean_op,...,halflife_min_op,halflife_min,halflife_max_op,halflife_max,halflife_unit,halflife_comments,additional_comments,created_date,modified_date,published_date
0,1,35000,1336363,R,NaN,NR,NaN,NR,NaN,NaN,...,NaN,NC,NaN,NC,NC,NaN,,01/28/1998,07/20/2012,09/14/2012
1,2,35000,1336363,R,NaN,NR,NaN,NR,NaN,NaN,...,NaN,NC,NaN,NC,NC,NaN,,01/28/1998,07/20/2012,09/14/2012
2,3,35001,2385855,NR,NaN,NR,NaN,NR,NaN,NaN,...,NaN,NC,NaN,NC,NC,NaN,,01/28/1998,07/20/2012,09/14/2012
3,4,35002,7631994,NR,NaN,NR,NaN,NR,NaN,NaN,...,NaN,NC,NaN,NC,NC,NaN,,01/28/1998,07/20/2012,09/14/2012
4,5,35002,7631994,NR,NaN,NR,NaN,NR,NaN,NaN,...,NaN,NC,NaN,NC,NC,NaN,,01/28/1998,07/20/2012,09/14/2012
5,6,35002,7631994,NR,NaN,NR,NaN,NR,NaN,NaN,...,NaN,NC,NaN,NC,NC,NaN,,01/28/1998,07/20/2012,09/14/2012
6,7,35002,7631994,NR,NaN,NR,NaN,NR,NaN,NaN,...,NaN,NC,NaN,NC,NC,NaN,,01/28/1998,07/20/2012,09/14/2012
7,8,35003,502396,NR,NaN,NR,NaN,NR,NaN,NaN,...,NaN,NC,NaN,NC,NC,NaN,,01/28/1998,07/20/2012,09/14/2012
8,9,35003,502396,NR,NaN,NR,NaN,NR,NaN,NaN,...,NaN,NC,NaN,NC,NC,NaN,,01/28/1998,07/20/2012,09/14/2012
9,10,35003,502396,NR,NaN,NR,NaN,NR,NaN,NaN,...,NaN,NC,NaN,NC,NC,NaN,,01/28/1998,07/20/2012,09/14/2012
10,11,35003,502396,NR,NaN,NR,NaN,NR,NaN,NaN,...,NaN,NC,NaN,NC,NC,NaN,,01/28/1998,07/20/2012,09/14/2012
11,12,35004,50293,NR,NaN,NR,NaN,C-14,NaN,NaN,...,NaN,NC,NaN,NC,NC,NaN,TYPE/IR & DA//,01/28/1998,07/20/2012,09/14/2012
12,13,35004,50293,NR,NaN,NR,NaN,C-14,NaN,NaN,...,NaN,NC,NaN,NC,NC,NaN,TYPE/IR & DA//EDES/INJECTED WITH 0.1 UCI ON D...,01/28/1998,07/20/2012,09/14/2012
13,15,35005,56382,NR,NaN,NR,NaN,NR,NaN,NaN,...,NaN,NC,NaN,NC,NC,NaN,,01/28/1998,10/08/2015,12/15/2015
14,16,35005,63252,NR,NaN,NR,NaN,NR,NaN,NaN,...,NaN,NC,NaN,NC,NC,NaN,,01/28/1998,10/08/2015,12/15/2015
15,17,35005,50293,NR,NaN,NR,NaN,NR,NaN,NaN,...,NaN,NC,NaN,NC,NC,NaN,,01/28/1998,10/27/2015,12/15/2015
16,18,35006,68334305,NR,NaN,NR,NaN,NR,NaN,NaN,...,NaN,NC,NaN,NC,NC,NaN,,01/28/1998,07/20/2012,09/14/2012
17,19,35006,60617063,NR,NaN,NR,NaN,NR,NaN,NaN,...,NaN,NC,NaN,NC,NC,NaN,,01/28/1998,07/20/2012,09/14/2012
18,20,35007,60571,NR,NaN,NR,NaN,NR,NaN,NaN,...,NaN,NC,NaN,NC,NC,NaN,,01/28/1998,07/20/2012,09/14/2012
19,21,35007,60571,NR,NaN,NR,NaN,NR,NaN,NaN,...,NaN,NC,NaN,NC,NC,NaN,,01/28/1998,07/20/2012,09/14/2012

In [48]:
test.shape

(665232, 122)

In [44]:
list_id.values

array([1154606, 1031849, 1023934, ..., 1334088, 1080147, 1133470],
      dtype=int64)

In [49]:
list_id = results.test_id
test = test[test.test_id.isin(list_id.values)]

In [51]:
test = test[test.organism_lifestage != "EM"]

In [56]:
species = pd.read_csv('data/ecotox_ascii_09_12_2019/validation/species.txt',sep='\|', engine='python')
species.head()

,species_number,common_name,latin_name,kingdom,phylum_division,subphylum_div,superclass,class,tax_order,family,genus,species,subspecies,variety,ecotox_group
0,1,Fathead Minnow,Pimephales promelas,Animalia,Chordata,Vertebrata,Osteichthyes,Actinopterygii,Cypriniformes,Cyprinidae,Pimephales,promelas,NaN,NaN,"Fish,Standard Test Species"
1,2,Bluegill,Lepomis macrochirus,Animalia,Chordata,Vertebrata,Osteichthyes,Actinopterygii,Perciformes,Centrarchidae,Lepomis,macrochirus,NaN,NaN,"Fish,Standard Test Species"
2,3,Brook Trout,Salvelinus fontinalis,Animalia,Chordata,Vertebrata,Osteichthyes,Actinopterygii,Salmoniformes,Salmonidae,Salvelinus,fontinalis,NaN,NaN,"Fish,Standard Test Species"
3,4,Rainbow Trout,Oncorhynchus mykiss,Animalia,Chordata,Vertebrata,Osteichthyes,Actinopterygii,Salmoniformes,Salmonidae,Oncorhynchus,mykiss,NaN,NaN,"Fish,Standard Test Species,U.S. Exotic/Nuisanc..."
4,5,Water Flea,Daphnia magna,Animalia,Arthropoda,Crustacea,NaN,Branchiopoda,Diplostraca,Daphniidae,Daphnia,magna,NaN,NaN,"Crustaceans,Standard Test Species"

In [66]:
species = species[~species.ecotox_group.isnull()]

In [68]:
species_number_list = species[species.ecotox_group.str.contains("Fish")]

,species_number,common_name,latin_name,kingdom,phylum_division,subphylum_div,superclass,class,tax_order,family,genus,species,subspecies,variety,ecotox_group
0,1,Fathead Minnow,Pimephales promelas,Animalia,Chordata,Vertebrata,Osteichthyes,Actinopterygii,Cypriniformes,Cyprinidae,Pimephales,promelas,NaN,NaN,"Fish,Standard Test Species"
1,2,Bluegill,Lepomis macrochirus,Animalia,Chordata,Vertebrata,Osteichthyes,Actinopterygii,Perciformes,Centrarchidae,Lepomis,macrochirus,NaN,NaN,"Fish,Standard Test Species"
2,3,Brook Trout,Salvelinus fontinalis,Animalia,Chordata,Vertebrata,Osteichthyes,Actinopterygii,Salmoniformes,Salmonidae,Salvelinus,fontinalis,NaN,NaN,"Fish,Standard Test Species"
3,4,Rainbow Trout,Oncorhynchus mykiss,Animalia,Chordata,Vertebrata,Osteichthyes,Actinopterygii,Salmoniformes,Salmonidae,Oncorhynchus,mykiss,NaN,NaN,"Fish,Standard Test Species,U.S. Exotic/Nuisanc..."
12,13,Hooknose,Agonus cataphractus,Animalia,Chordata,Vertebrata,Osteichthyes,Actinopterygii,Scorpaeniformes,Agonidae,Agonus,cataphractus,NaN,NaN,Fish
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26089,51433,Janitor Fish,Pterygoplichthys sp.,Animalia,Chordata,Vertebrata,Osteichthyes,Actinopterygii,Siluriformes,Loricariidae,Pterygoplichthys,sp.,NaN,NaN,Fish
26090,51438,Sea Catfishes,Genidens sp.,Animalia,Chordata,Vertebrata,Osteichthyes,Actinopterygii,Siluriformes,Ariidae,Genidens,sp.,NaN,NaN,Fish
26226,51997,Tetra,Astyanax lacustris,Animalia,Chordata,Vertebrata,Osteichthyes,Actinopterygii,Characiformes,Characidae,Astyanax,lacustris,NaN,NaN,Fish
26227,51998,White Bream,Blicca bjoerkna,Animalia,Chordata,Vertebrata,Osteichthyes,Actinopterygii,Cypriniformes,Cyprinidae,Blicca,bjoerkna,NaN,NaN,Fish
26228,51999,Amur Sleeper Fish,Perccottus glenii,Animalia,Chordata,Vertebrata,Osteichthyes,Actinopterygii,Perciformes,Odontobutidae,Perccottus,glenii,NaN,NaN,Fish

## Looking for null values, outliers and strange units

### CAS : Foreign key to CHEMICALS

In [26]:
# essendo un'indidice non mi apsetto null values.
sum(test['test_cas'].isnull())

0

In [27]:
#non ha senso, ovvimemte parlare di outiliers
#questo discorso lo possiamo nell'ECOTOX_GROUP dopo quando andiamo a vedere le caratteristiche del CAS

### ORGANISM

In [28]:
l = list(test.columns)
result = [i for i in l if i.startswith('organism')]

In [29]:
result

['organism_habitat',
 'organism_source',
 'organism_source_comments',
 'organism_lifestage',
 'organism_lifestage_comments',
 'organism_age_mean_op',
 'organism_age_mean',
 'organism_age_min_op',
 'organism_age_min',
 'organism_age_max_op',
 'organism_age_max',
 'organism_age_unit',
 'organism_init_wt_mean_op',
 'organism_init_wt_mean',
 'organism_init_wt_min_op',
 'organism_init_wt_min',
 'organism_init_wt_max_op',
 'organism_init_wt_max',
 'organism_init_wt_unit',
 'organism_characteristics',
 'organism_gender']

In [30]:
# cerchiamo di fare un bell riassunto

In [31]:
df  = pd.DataFrame (index = result, columns = ['null_values', '#outputs'])

In [32]:
for i in result:
    df['null_values'][i] = sum(test[i].isnull())
    df['#outputs'][i] = len(test[i].unique())

In [33]:
df

                            null_values #outputs
organism_habitat                      0        3
organism_source                       0       12
organism_source_comments         635660     4784
organism_lifestage                    0      132
organism_lifestage_comments      662516      362
organism_age_mean_op             632947        6
organism_age_mean                    72      374
organism_age_min_op              664454        5
organism_age_min                     17      146
organism_age_max_op              664798        6
organism_age_max                     17      174
organism_age_unit                     7       97
organism_init_wt_mean_op         664874        6
organism_init_wt_mean                 1     1498
organism_init_wt_min_op          665169        3
organism_init_wt_min                  1      483
organism_init_wt_max_op          665168        4
organism_init_wt_max                  1      538
organism_init_wt_unit                 0        8
organism_characteristics           1626    57752
organism_gender                       1        6

In [34]:
# df = test[result]
# corr = df.corr()
# corr.style.background_gradient(cmap='coolwarm')

sarebbe bello guardare a correlazione tra le due cose, ma bisogna prima trasformare i valori

### EXPOSURE

In [35]:
result = [i for i in l if i.startswith('exposure')]

In [36]:
result

['exposure_duration_mean_op',
 'exposure_duration_mean',
 'exposure_duration_min_op',
 'exposure_duration_min',
 'exposure_duration_max_op',
 'exposure_duration_max',
 'exposure_duration_unit',
 'exposure_duration_comments',
 'exposure_type',
 'exposure_type_comments']

In [37]:
df1  = pd.DataFrame (index = result, columns = ['null_values_%', '#outputs'])
for i in result:
    df1['null_values_%'][i] = sum(test[i].isnull())/len(test)*100
    df1['#outputs'][i] = len(test[i].unique())

In [38]:
df1

                           null_values_% #outputs
exposure_duration_mean_op        96.8608        6
exposure_duration_mean            4.8771     2308
exposure_duration_min_op          99.784        6
exposure_duration_min           0.504636      740
exposure_duration_max_op         99.8088        6
exposure_duration_max           0.504486      785
exposure_duration_unit        0.00556197       89
exposure_duration_comments       99.7768      202
exposure_type                          0      142
exposure_type_comments            99.572      180

In [39]:
test[result].head()

,exposure_duration_mean_op,exposure_duration_mean,exposure_duration_min_op,exposure_duration_min,exposure_duration_max_op,exposure_duration_max,exposure_duration_unit,exposure_duration_comments,exposure_type,exposure_type_comments
0,NaN,15,NaN,NR,NaN,NR,d,NaN,OR,NaN
1,NaN,4,NaN,NR,NaN,NR,d,NaN,OR,NaN
2,NaN,4,NaN,NR,NaN,NR,wk,NaN,OR,NaN
3,NaN,7,NaN,NR,NaN,NR,d,NaN,OR,NaN
4,NaN,7,NaN,NR,NaN,NR,d,NaN,OR,NaN

### EFFECT

In [40]:
l = list(results.columns)
result = [i for i in l if i.startswith('effect')]

In [41]:
df2  = pd.DataFrame (index = result, columns = ['null_values_%', '#outputs'])
for i in result:
    df2['null_values_%'][i] = sum(results[i].isnull())/len(results)*100
    df2['#outputs'][i] = len(results[i].unique())

In [42]:
df2

                    null_values_% #outputs
effect                          0       84
effect_comments           96.8456        6
effect_pct_mean_op        99.4181        6
effect_pct_mean          0.181917     6762
effect_pct_min_op         98.5831        6
effect_pct_min           0.181917     1341
effect_pct_max_op         98.5713        6
effect_pct_max           0.181917     1583
effect_pct_comments       97.3171      278

### CONC

In [43]:
result = [i for i in l if i.startswith('conc')]
df3  = pd.DataFrame (index = result, columns = ['null_values_%', '#outputs'])
for i in result:
    df3['null_values_%'][i] = sum(results[i].isnull())/len(results)*100
    df3['#outputs'][i] = len(results[i].unique())

In [44]:
df3

               null_values_% #outputs
conc1_type        0.00178453       10
conc1_mean_op        95.8179        6
conc1_mean        0.00304419    34410
conc1_min_op         98.7769        6
conc1_min         0.00398894    19671
conc1_max_op         98.9549        6
conc1_max         0.00482872    24163
conc1_unit        0.00178453     1229
conc1_comments       80.1853     2058
conc2_type           99.2761        8
conc2_mean_op         99.988        5
conc2_mean           99.2761     1792
conc2_min_op         99.9819        5
conc2_min            99.2761     1084
conc2_max_op         99.9854        3
conc2_max            99.2761     1180
conc2_unit           99.2761       59
conc2_comments       99.9286       25
conc3_type           99.9447        4
conc3_mean_op            100        1
conc3_mean           99.9447       72
conc3_min_op             100        1
conc3_min            99.9447       39
conc3_max_op             100        1
conc3_max            99.9447       46
conc3_unit           99.9447       12
conc3_comments       99.9996        3

In [46]:
result = [i for i in l if i.startswith('endpoint')]
df4  = pd.DataFrame (index = result, columns = ['null_values_%', '#outputs'])
for i in result:
    df4['null_values_%'][i] = sum(results[i].isnull())/len(results)*100
    df4['#outputs'][i] = len(results[i].unique())

In [47]:
df4

                  null_values_% #outputs
endpoint                      0      298
endpoint_comments       98.7146      310
endpoint_assigned   0.000314916        5