In this notebook we transform the cas numbers we needed to smiles. We do that thanks to a code implemented in R.

Our input is:

In [2]:
import pandas as pd
cas = pd.read_csv('cas.csv')
del cas['Unnamed: 0'] 
cas.head()

          cas
0  10108-64-2
1     88-30-2
2   1397-94-0
3  25474-41-3
4    540-72-7

## R CODE

In [ ]:
'''
#IMPORTING LIBRARY
library("webchem")

#READING THE CSV FILE
cas = read.csv('cas.csv')
cas <- cas[c("cas")]

# FUNCTION WHICH TAKE THE SMILES
to_smiles <- function(num){
  r <- cir_query(num, 'smiles')
  return(r[[1]])
}


#FROM DF TO MATRIX
cas_matrix <- as.matrix(cas$cas)

#WE APPLY THE FUNTION TO EACH ELEMENT
smiles <- apply(cas_matrix, 1, to_smiles)


df <- as.data.frame(smiles)

#MERGE AND SAVE
cas_to_smiles <- data.frame(cas,df)
write.csv(cas_to_smiles,'cas_to_smiles.csv')
'''

The output is:

In [3]:
cas_to_smiles = pd.read_csv('cas_to_smiles.csv')
del cas_to_smiles['Unnamed: 0'] 
cas_to_smiles.head()

          cas                                             smiles
0  10108-64-2                                 [Cl-].[Cl-].[Cd++]
1     88-30-2                  Oc1ccc(c(c1)C(F)(F)F)[N+]([O-])=O
2   1397-94-0  CCCCCC[C@@H]1[C@@H](OC(=O)CC(C)C)[C@H](C)OC(=O...
3  25474-41-3                                                NaN
4    540-72-7                                      [Na+].[S-]C#N

Missing values:

In [6]:
cas_to_smiles[cas_to_smiles.smiles.isna()].head()

           cas smiles
3   25474-41-3    NaN
11  12642-13-6    NaN
52  68951-67-7    NaN
57  96638-72-1    NaN
59  64618-68-4    NaN

In [7]:
len(cas_to_smiles[cas_to_smiles.smiles.isna()])

465